.patient-table{
    margin-top: 3rem;
}

table{
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}

.header{
  position: sticky;
  top: 0px;
  background-color: white;
}

.patient-data{
  height: 400px;
  width: 75%;
  max-width: 70rem;
  overflow-y: auto;
  margin: auto;
}

tr{
  width: 100%;
}

tr:nth-child(even) {
    background-color: #dddddd;
  }

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }